.noteList{

	.card-action{

		a{
		    float: none;
    /* width: 50%; */
    margin: 0 !important;
    display: inline-block;
    	color: #8a8a8a !important;
    	    line-height: 32px;

    	    &:first-child{
    	    	margin-right:16px !important;
    	    }

    	    i{
    	    	vertical-align: top;
			    font-size: 19px;
			    padding: 6px;
    	    }
		}
	}
}